{% extends 'layout.html'%}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="row" style="margin-top: 35px;">
                <h1 style="font-weight: bold">{{ item.name }}</h1>
            </div>
            <div class="row">
                    <h4 style="color: blueviolet"><i class="fas fa-tags" style="margin-left:15px"></i>{{ category.name }}</h4>
                </div>
            <div class="row" style="margin-top: 2%">
                    <p style="font-size: 20px; color: crimson">{{ item.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}